body {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.mainPage {
    background-image: url("/images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutMePage {
    background-image: url(/images/skyBg.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.projectPage {
    background-image: url("/images/1.png"), url("/images/2.png"), url("/images/3.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

header {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 80% 20%;

    max-height: 200px;
}

.Profile {
    display: grid;
    grid-template-columns: 25% 75%;
    max-height: 100%;

    align-self: center;
}

.Profile img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.Profile .profileName {
    max-height: 100%;
    align-self: center;
}

.headerTabs {
    padding: 0px;
    margin: 50px;

    max-height: 100%;

    list-style-type: none;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.headerTabs li {

    /* box */
    max-height: 100%;

    width: 100%;

    background-color: rgb(255, 255, 255, 0.5);
    border-bottom: 5px solid #ffc800;

    align-content: center;

    /* text */
    color: #ffc800;
    font-size: 250%;
    -webkit-text-stroke: 1px black;

}

.headerTabs a {
    text-decoration: none;
}

.headerTabs .tabs li:hover {
    list-style-type: disc;

    background-color: #ffc800;

    /* text */
}

.headerTabs .chosen {

    list-style-type: circle;
    background-color: #ffc800;
}


.titleMenu {
    padding: 0px;
    margin: 50px;

    list-style-type: none;
}

.titleMenu li {

    /* box */
    min-height: 50px;
    height: 1vh;
    max-height: 100px;

    width: 30%;

    background-color: rgb(255, 255, 255, 0.5);
    border-bottom: 5px solid #ffc800;

    align-content: center;

    /* text */
    padding-left: 25px;
    color: #ffc800;
    font-size: 250%;
    -webkit-text-stroke: 1px black;

}

.titleMenu a {
    text-decoration: none;
}

.titleMenu a li:hover {
    list-style-type: disc;

    background-color: #ffc800;

    /* text */
}

footer {
    background-color: rgb(140, 140, 140);
}